<table class="table table-striped  text-center">
    <ng-container *ngIf="!isLoading">
    <thead>
    <tr>
        <th>{{options.headers.id}}</th><th>{{options.headers.value}}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let row of item">
        <td *ngFor="let value of row; let i = index">
            <a *ngIf="i == 0" (click)="routeToInstance(value)">{{value}}</a>
            <span *ngIf="i != 0">{{value}}</span>
        </td>
    </tr>
    </tbody>
    </ng-container>

    <ng-container *ngIf="isLoading">
        <thead>
        <tr>
            <th>Loading</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let row of loadingArray">
            <td>...</td>
        </tr>
        </tbody>
    </ng-container>
</table>
