.widget-frame {
    color: black;
    width: 100%;
    display: block;
    background-color: #fff;
    outline: 0;
    margin-bottom: 10px;
}

.widget-heading {
    margin-bottom: 5px;
}

.widget-content {
    margin: 10px 10px 10px 10px;
}

.chart-test{
    position: relative;
    display:inline-block;
    width:100%;
    padding: 30%;
}

.chart-test-inner{
    position: absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;

}

.widget-drag-handle {
    cursor: move;
    margin-left: 10px;
    margin-right: 5px;
}
