<div class="widget-frame">
    <div class="widget-heading">
        <i class="widget-drag-handle fa fa-bars"></i>
        <button class="btn btn-link header-link" (click)="routeToInstance()">{{state.heading}}</button>
        <i *ngIf="state.dataPresent !== false" class="widget-settings-icon fa fa-cog float-right" (click)="showSettings()"></i>
    </div>
    <div class="widget-content" [ngSwitch]="layout">

        <p-chart [type]="state.type" [data]="state.data" [options]="state.options" *ngSwitchCase="'chart'"></p-chart>

        <app-widget-list [item]="state.data" [options]="state.listOptions" *ngSwitchCase="'list'"></app-widget-list>

        <div class="chart-test" *ngSwitchCase="'bar-chart'">
            <div class="chart-test-inner">
                <ngx-charts-bar-vertical
                    [view]="state.view"
                    [results]="state.results"
                    [scheme]="state.scheme"
                    [xAxisLabel]="state.xAxisLabel"
                    [yAxisLabel]="state.yAxisLabel"
                    [showXAxisLabel]="state.showXAxisLabel"
                    [showYAxisLabel]="state.showYAxisLabel"
                    [xAxis]="state.xAxis"
                    [yAxis]="state.yAxis"
                    [gradient]="state.gradient"
                    (select)="handleChartClick($event)">

                </ngx-charts-bar-vertical>
            </div>
        </div>

        <div class="chart-test" *ngSwitchCase="'pie-chart'">
            <div class="chart-test-inner">
                <ngx-charts-pie-chart
                    [view]="state.view"
                    [results]="state.results"
                    [scheme]="state.scheme"
                    [labels]="state.labels"
                    [doughnut]="state.doughnut"
                    [legend]="state.legend"
                    [legendTitle]="state.legendTitle"
                    [legendPosition]="state.legendPosition"
                    [gradient]="state.gradient"
                    [maxLabelLength]="state.maxLabelLength">

                </ngx-charts-pie-chart>
            </div>
        </div>

        <div class="chart-test" *ngSwitchCase="'tree-chart'">
            <div class="chart-test-inner">
                <ngx-charts-tree-map
                    [view]="state.view"
                    [results]="state.results"
                    [scheme]="state.scheme"
                    [gradient]="state.gradient">

                </ngx-charts-tree-map>
            </div>
        </div>

        <div class="chart-test" *ngSwitchCase="'number-cards-chart'">
            <div class="chart-test-inner">
                <ngx-charts-number-card
                    [view]="state.view"
                    [results]="state.results"
                    [scheme]="state.scheme">

                </ngx-charts-number-card>
            </div>
        </div>

        <div class="chart-test" *ngSwitchCase="'line-chart'">
            <div class="chart-test-inner {{this.additionalClasses.join(' ')}}">
                <ngx-charts-line-chart
                    *ngIf="dataPresent !== false"
                    [view]="state.view"
                    [results]="state.results"
                    [scheme]="state.scheme"
                    [xAxisLabel]="state.xAxisLabel"
                    [yAxisLabel]="state.yAxisLabel"
                    [showXAxisLabel]="state.showXAxisLabel"
                    [showYAxisLabel]="state.showYAxisLabel"
                    [xAxis]="state.xAxis"
                    [yAxis]="state.yAxis"
                    [gradient]="state.gradient"
                    [curve]="state.curve"
                [autoScale]="state.autoScale"
                >

                    <ng-template #tooltipTemplate let-model="model">
                        <div class="area-tooltip-container">
                            <div style="font-size: 1.3em;">
                                {{model.series}} {{dateTimeString(model.name)}}
                            </div>
                            <div>
                                {{model.value.toFixed(3)}}
                            </div>
                        </div>
                    </ng-template>
                    <ng-template #seriesTooltipTemplate let-model="model">
                        <div class="area-tooltip-container">
                            <div style="font-size: 1.2em;"style="color:lightgrey;">
                                {{dateTimeString(model[0].name)}}
                            </div>
                            <div class="tooltip-item" *ngFor="let tt of model">
                                <span class="tooltip-item-color" [style.background-color]="tt.color"></span>
                                {{tt.series}}: {{+tt.value.toFixed(3)}}
                            </div>
                        </div>
                    </ng-template>
                </ngx-charts-line-chart>
            </div>
        </div>

        <div class="chart-test" *ngSwitchCase="'map'">
            <div class="chart-test-inner">
                <app-widget-geo [data]="state.data" [context]="state.mapOptions" [reflectors]="state.reflectors"></app-widget-geo>
            </div>
        </div>

        <div *ngIf="dataPresent === false" class="no-data-found">
            <div>
                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                No data found!<br>
                <button class="btn btn-warning" (click)="showSettings()">Change Settings</button>
            </div>
        </div>
    </div>
</div>
