<div class="board">
    <div class="board-item col-4">
        <div class="board-item-content shadow">
            <app-widget [item]="item1"></app-widget>
        </div>
    </div>
    <div class="board-item col-8">
        <div class="board-item-content shadow">
            <app-widget [item]="item2"></app-widget>
        </div>
    </div>
    <div class="board-item col-4">
        <div class="board-item-content shadow">
            <app-widget [item]="item3"></app-widget>
        </div>
    </div>
</div>
