<!-- Example single danger button -->
<div class="dashboard-menu-container">
    <h2 class="dashboard-heading"><span class="badge badge-dark">{{currentDashboard}}</span></h2>

    <!--button type="button" class="btn btn-dark btn-sm" (click)="saveLayout()"><i class="fa fa-save"></i> Save Layout</button-->
    <button type="button" class="btn btn-success btn-sm" (click)="openNewWidgetModal()"><i class="fa fa-plus"></i> Add Widget</button>
    <button type="button" class="btn btn-danger btn-sm" (click)="openAcceptWidgetActionModal(deleteDashboard, currentDashboardID)"><i class="fa fa-remove"></i> Remove Layout</button>
</div>

<div class="board">
    <div class="board-item p-2 m-0 col-sm-{{widget.size.sm}} col-md-{{widget.size.md}} col-lg-{{widget.size.lg}} col-xl-{{widget.size.xl}}" attr.data-widget-id="{{widget.ID}}" *ngFor="let widget of widgetLayout">
        <div class="board-item-content shadow">
            <app-widget [item]="widget"></app-widget>
        </div>
    </div>
</div>

<ngx-smart-modal #widgetSettingsModal identifier="widgetSettingsModal" customClass="wide-modal" (onOpen)="setWidgetSettingsModal(widgetSettingsModal.getData())" (onClose)="resetWidgetSettingsModal()" (onDismiss)="resetWidgetSettingsModal()">
    <h2>{{widgetSettingsModalText}}</h2>
    <hr>

    <form [formGroup]="widgetSettingsForm">
        <formly-form [model]="widgetSettingsFormModel" [fields]="widgetSettingsFormFields" [form]="widgetSettingsForm">
        </formly-form>
    </form>

    <pre>{{widgetSettingsFormModel | json}}</pre>
    <hr>

    <button class="btn btn-danger pull-right" (click)="openAcceptWidgetActionModal(removeWidget, widgetSettingsModal.getData())"><i class="fa fa-trash"></i> Remove</button>
    <button style="margin-right: 5px;" class="btn btn-success pull-right" (click)="openAcceptWidgetActionModal(saveWidgetSettings, widgetSettingsFormModel)" [disabled]="widgetSettingsForm.invalid"><i class="fa fa-save"></i> Save</button>
</ngx-smart-modal>

<ngx-smart-modal #acceptWidgetActionModal identifier="acceptWidgetActionModal" (onClose)="resetAcceptWidgetActionModal()">
    <h2 align="center">Are you sure?</h2>
    <hr>

    <div align="center">
        <button class="btn btn-success" (click)="executeAcceptWidgetActionModalFunction(acceptWidgetActionModal.getData())">Yes</button>
        <button class="btn btn-danger" (click)="acceptWidgetActionModal.close()">No</button>
    </div>
</ngx-smart-modal>

<ngx-smart-modal #newWidgetModal identifier="newWidgetModal" customClass="wide-modal" (onClose)="resetNewWidgetModal()">
    <h2>{{newWidgetModalText}}</h2>
    <hr>
    <div class="container">
        <div class="row">
            <div class="col-4">
                <div *ngFor="let widget of validWidgets">
                    <button class="btn btn-dark widget-menu-btn" [ngClass]="{'active': selectedNewWidget && selectedNewWidget.widgetType == widget.widgetType}" (click)="selectNewWidget(widget)">{{widget.widgetName}}</button>
                </div>
            </div>
            <div class="col-8">
                <form [formGroup]="newWidgetForm">
                    <formly-form [model]="newWidgetFormModel" [fields]="newWidgetFormFields" [form]="newWidgetForm">
                    </formly-form>
                </form>
                <button *ngIf="selectedNewWidget" class="btn btn-success pull-right" [disabled]="newWidgetForm.invalid" (click)="addNewWidget(newWidgetFormModel, selectedNewWidget.widgetType)"><i class="fa fa-plus"></i> Add</button>
            </div>
        </div>
    </div>

    <pre>{{newWidgetFormModel | json}}</pre>
</ngx-smart-modal>

<pre>
    {{widgetLayout | json}}
</pre>
