<!--Top Navbar-->
<nav class="navbar navbar-expand-sm bg-primary navbar-dark fixed-top" *ngIf="position == 'top'" >
    <a class="navbar-brand" href="#">KubeScale Portal</a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <button class="btn btn-outline-light" routerLink="dashboard"><i class="fa fa-tachometer"></i> Dashboard</button>
        </li>
        <li class="nav-item">
            <button class="btn btn-outline-light" routerLink="analytics"><i class="fa fa-bar-chart"></i> Analytics</button>
        </li>
        <li class="nav-item">
            <button class="btn btn-outline-light" routerLink="settings"><i class="fa fa-cogs"></i> Settings</button>
        </li>
    </ul>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <button class="btn btn-outline-light" routerLink="user"><i class="fa fa-user"></i> admin</button>
        </li>
    </ul>
</nav>

<!--Bottom Navbar-->
<nav class="navbar navbar-expand-sm bg-primary navbar-dark fixed-bottom" *ngIf="position == 'bottom'">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            v0.0.1
        </li>
    </ul>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <button class="btn btn-outline-light" href="https://kubescale.cloud">&copy; KubeScale Cloud 2018</button>
        </li>
    </ul>
</nav>
