<div class="col-12 overview-container">
    <div class="widget-frame">
        <div class="widget-heading">
            <a (click)="routeToOverview('streams')">Streams</a> / {{streamID}}
        </div>
        <div class="metrics-cards col-12 p-0">
            <ngx-charts-number-card
                [view]="numberCardsChartState.view"
                [results]="cardsData"
                [scheme]="numberCardsChartState.scheme">

            </ngx-charts-number-card>
        </div>

        <div class="overview-chart col-12 p-0">
            <ngx-charts-line-chart
                [view]="lineChartState.view"
                [results]="lineChartState.results"
                [scheme]="lineChartState.scheme"
                [xAxisLabel]="lineChartState.xAxisLabel"
                [yAxisLabel]="lineChartState.yAxisLabel"
                [showXAxisLabel]="lineChartState.showXAxisLabel"
                [showYAxisLabel]="lineChartState.showYAxisLabel"
                [xAxis]="lineChartState.xAxis"
                [yAxis]="lineChartState.yAxis"
                [gradient]="lineChartState.gradient"
                [curve]="lineChartState.curve"
                [autoScale]="lineChartState.autoScale"
            [timeline]="true">

                <ng-template #tooltipTemplate let-model="model">
                    <div class="area-tooltip-container">
                        <div style="font-size: 1.1em;color:lightgrey;">
                            {{model.series}} {{dateTimeString(model.name)}}
                        </div>
                        <div>
                            {{+model.value.toFixed(3)}}
                        </div>
                    </div>
                </ng-template>
                <ng-template #seriesTooltipTemplate let-model="model">
                    <div class="area-tooltip-container">{{alerting(model)}}
                        <div style="font-size: 1.1em;color:lightgrey;">
                            {{dateTimeString(model[0].name)}}
                        </div>
                        <div class="tooltip-item" *ngFor="let tt of model">
                            <span class="tooltip-item-color" [style.background-color]="tt.color"></span>
                            {{tt.series}}: {{+tt.value.toFixed(3)}}
                        </div>
                    </div>
                </ng-template>
            </ngx-charts-line-chart>
        </div>

        <div class="btn-group">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Filter
            </button>
            <div class="dropdown-menu text-nowrap">
                <form class="px-4 py-3" (click)="preventDropdownClose($event)">
                    <div class="form-check" *ngFor="let key of metricDataKeys">
                        <input class="form-check-input" type="checkbox" id="cb-{{key}}" [checked]="checkedMetrics.includes(key)" (click)="filterLineChartData($event)">
                        <label class="form-check-label" for="cb-{{key}}">
                            {{metricData[key].name}}
                        </label>
                    </div>
                </form>
            </div>
        </div>

        <div *ngIf="noData" class="no-data-found">
            <div>
                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                No data found!
            </div>
        </div>

        <div *ngIf="loadingData" class="no-data-found">
            <div>
                <i class="fa fa-spinner kubescale-loader" aria-hidden="true"></i>
            </div>
        </div>
    </div>
</div>
