<!-- Example single danger button -->
<div class="dashboard-menu-container">
    <h2><span class="badge badge-dark">Instance overview of {{sourceType}}</span></h2>
</div>

<div class="col-12 overview-container">
    <div class="widget-frame">

        <div class="accordion" id="taskAccordion">
            <div class="card" *ngFor="let item of list">
                <a class="card-header p-0 position-relative" (click)="routeToInstance(sourceType, item.id)" style="display:flex;">
                    <h5 class="mb-0 position-absolute">
                        <div class="btn ks-blur-background">
                            {{item.name}}
                        </div>
                    </h5>
                    <div style="flex:auto; height:50px;">
                        <ngx-charts-line-chart
                            [view]="lineChartState.view"
                            [results]="[item]"
                            [scheme]="lineChartState.scheme"
                            [xAxisLabel]="lineChartState.xAxisLabel"
                            [yAxisLabel]="lineChartState.yAxisLabel"
                            [showXAxisLabel]="lineChartState.showXAxisLabel"
                            [showYAxisLabel]="lineChartState.showYAxisLabel"
                            [xAxis]="lineChartState.xAxis"
                            [yAxis]="lineChartState.yAxis"
                            [gradient]="lineChartState.gradient"
                            [curve]="lineChartState.curve"
                            [tooltipDisabled]="lineChartState.tooltipDisabled"
                            [legend]="lineChartState.legend"
                            [schemeType]="lineChartState.schemeType"
                            [yScaleMin]="0"
                            [yScaleMax]="10"
                        ></ngx-charts-line-chart>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

