<table class="table">
    <thead>
    <tr>
        <th scope="col">Notification</th>
        <th scope="col">Severity</th>
        <th scope="col">Acknowledge</th>
        <th scope="col">Clear</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let notification of notifications">
        <th scope="row">{{notification.text}}</th>
        <td>{{notification.severity}}</td>
        <td><i class="fa fa-thumbs-up"></i></td>
        <td><i class="fa fa-remove"></i></td>
    </tr>
    </tbody>
</table>
