<div class="container">
    <div class="notification-menu-container">
        <h2 class="notification-menu-heading"><span class="badge badge-dark">Notification Overview</span></h2>

        <button type="button" class="btn btn-danger btn-sm" (click)="clearNotifications()"><i class="fa fa-remove"></i> Clear Notifications</button>
    </div>
    <table class="table table-sm table-bordered table-hover">
        <thead class="thead-dark">
        <tr>
            <th scope="col"></th>
            <th scope="col">Timestamp</th>
            <th scope="col">Message</th>
            <th scope="col">Stream ID</th>
            <th scope="col">Category</th>
            <th scope="col">Level</th>
            <th scope="col">Clear</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let notification of notifications" [ngClass]="{'bg-warning': notification.level == 3, 'bg-success': notification.level == 2, 'bg-info': notification.level == 1, 'bg-primary': notification.level == 0}">
            <td align="center">
                <i *ngIf="notification.level == 3" class="fa fa-exclamation"></i>
                <i *ngIf="notification.level == 2" class="fa fa-check"></i>
                <i *ngIf="notification.level == 1" class="fa fa-info"></i>
                <i *ngIf="notification.level == 0" class="fa fa-bug"></i>
            </td>
            <th scope="row">{{notification.ts | date:'medium'}}</th>
            <td>{{notification.msg}}</td>
            <td align="center"><button class="btn btn-sm btn-dark" style="width:100px;" (click)="routeToInstance('streams', notification.data.stream_id)">{{notification.data.stream_id}}</button></td>
            <td>{{notification.cat}}</td>
            <td>{{notification.level}}</td>
            <td align="center"><button class="btn btn-sm btn-dark" (click)="removeNotification(notification)"><i class="fa fa-remove"></i></button></td>
        </tr>
        </tbody>
    </table>
</div>
