<div class="container">
    <div class="notification-menu-container">
        <h2 class="notification-menu-heading"><span class="badge badge-dark">Notification Overview</span></h2>

        <button type="button" class="btn btn-danger btn-sm" (click)="clearNotifications()"><i class="fa fa-remove"></i> Clear Notifications</button>
    </div>
    <table class="table table-sm table-bordered table-hover table-striped">
        <thead class="">
        <tr>
            <th scope="col"></th>
            <th scope="col">Timestamp</th>
            <th scope="col">Message</th>
            <th scope="col">Stream</th>
            <th scope="col">Category</th>
            <th scope="col">Level</th>
            <th scope="col">Clear</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let notification of notifications" [ngStyle]="{'color': miscService.getNotificationColor(notification.level.toString())}">
            <td align="center">
                <i *ngIf="notification.level == 4" class="fa fa-exclamation-triangle"></i>
                <i *ngIf="notification.level == 3" class="fa fa-exclamation"></i>
                <i *ngIf="notification.level == 2" class="fa fa-check"></i>
                <i *ngIf="notification.level == 1" class="fa fa-info"></i>
                <i *ngIf="notification.level == 0" class="fa fa-bug"></i>
            </td>
            <td>{{notification.ts | date:'medium'}}</td>
            <td>{{notification.msg}}</td>
            <td align="center"><button class="btn btn-sm btn-primary" [ngStyle]="{'background-color': miscService.getNotificationColor(notification.level.toString())}" (click)="routeToInstance('streams', notification.data.stream_id)">{{notification.data.stream_id}}</button></td>
            <td>{{notification.cat}}</td>
            <td>{{notification.level}}</td>
            <td align="center"><button class="btn btn-sm btn-link" [ngStyle]="{'color': miscService.getNotificationColor(notification.level.toString())}" (click)="removeNotification(notification)"><i class="fa fa-remove"></i></button></td>
        </tr>
        </tbody>
    </table>
</div>
