<!--App contents, router-outlet points here-->
<div class="wrapper">

    <header class="main-header hide-in-fullscreen">

        <!-- Logo -->
        <a (click)="routeToComponent('home')" class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini"><i class="fa fa-cube"></i></span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg"><i class="fa fa-cube"></i>&nbsp;<b>Kube</b>SCALE</span>
        </a>

        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top p-0">
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>
            <!-- Navbar Right Menu -->
            <div class="navbar-custom-menu">
                <ul class="nav navbar p-0">
                    <!-- Messages: style can be found in dropdown.less-->

                    <!-- Notifications: style can be found in dropdown.less -->
                    <li class="dropdown notifications-menu">
                        <a href="#" class="p-3" data-toggle="dropdown">
                            <i class="fa fa-bell-o"></i>
                            <span class="badge ml-1 badge-warning">{{notifications.length}}</span>
                        </a>

                        <!--TODO: integrate different colors according to severity-->
                        <ul class="dropdown-menu dropdown-menu-right" style="white-space: normal;">
                            <li class="dropdown-header">You currently have {{notifications.length}} new notifications</li>
                            <li class="dropdown-divider"></li>
                            <li *ngIf="notifications.length > 0" class="dropdown-item">
                                <table class="table table-sm table-bordered table-hover">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th scope="col"></th>
                                            <th scope="col">Message</th>
                                            <th scope="col">Stream ID</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let notification of notifications.slice(0, 5)" [ngClass]="{'bg-warning': notification.level == 3, 'bg-success': notification.level == 2, 'bg-info': notification.level == 1, 'bg-primary': notification.level == 0}">
                                            <td align="center">
                                                <i *ngIf="notification.level == 3" class="fa fa-exclamation"></i>
                                                <i *ngIf="notification.level == 2" class="fa fa-check"></i>
                                                <i *ngIf="notification.level == 1" class="fa fa-info"></i>
                                                <i *ngIf="notification.level == 0" class="fa fa-bug"></i>
                                            </td>
                                            <td>{{notification.msg}}</td>
                                            <td align="center"><button class="btn btn-sm btn-dark" style="width:100px;" (click)="routeToInspectionComponent('streams', notification.data.stream_id)">{{notification.data.stream_id}}</button></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </li>
                            <li class="dropdown-item"><button style="width: 100%" class="btn btn-dark" (click)="routeToComponent('notifications')">View all notifications</button></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar hide-in-fullscreen">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            <!-- Sidebar user panel -->
            <div class="user-panel">
                <div class="pull-left image">
                    <img src="assets/images/avatar-unknown.png" class="img-circle" alt="User Image">
                </div>
                <div class="pull-left info">
                    <p>Kube Admin 1</p>
                    <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                </div>
            </div>
            <!-- sidebar menu: : style can be found in sidebar.less -->
            <ul class="sidebar-menu" data-widget="tree">
                <li class="header">MAIN NAVIGATION</li>
                <li class="active treeview menu-open">
                    <a href="#"><i class="fa fa-dashboard"></i>&nbsp;<span>Dashboard</span><span class="pull-right-container"><i class="fa fa-angle-down pull-right"></i></span></a>
                    <ul class="treeview-menu">
                        <li *ngFor="let layout of dashboardLayouts"><a (click)="routeToDashboard(layout.id)"><i class="fa fa-circle-o"></i> {{layout.name}}</a></li>
                        <li *ngIf="!newLayoutInitiated"><a (click)="initiateNewLayout(true)"><i class="fa fa-plus"></i> New Layout</a></li>
                        <li *ngIf="newLayoutInitiated">
                            <div class="input-group">
                                <input style="border-radius: 5px;" type="text" class="form-control" [(ngModel)]="newLayoutName" placeholder="Layout name" aria-label="Layout name" aria-describedby="basic-addon2">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" type="button" [disabled]="newLayoutName.length === 0" (click)="createNewDashboard(newLayoutName)"><i class="fa fa-check"></i></button>
                                    <button class="btn btn-outline-secondary" type="button" (click)="initiateNewLayout(false)"><i class="fa fa-remove"></i></button>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="active treeview menu-open">
                    <a href="#"><i class="fa fa-desktop"></i>&nbsp;<span>Monitoring</span><span class="pull-right-container"><i class="fa fa-angle-down pull-right"></i></span></a>
                    <ul class="treeview-menu">
                        <li><a (click)="routeToMonitoring('monitors')"><i class="fa fa-circle-o"></i> Monitors</a></li>
                        <li><a (click)="routeToMonitoring('streams')"><i class="fa fa-circle-o"></i> Streams</a></li>
                        <li><a (click)="routeToMonitoring('tasks')"><i class="fa fa-circle-o"></i> Tasks</a></li>
                    </ul>
                </li>
                <li class="active"><a (click)="routeToComponent('notifications')"><i class="fa fa-bell"></i> <span>&nbsp;Notifications</span></a></li>
                <li class="active"><a (click)="routeToComponent('settings')"><i class="fa fa-cogs"></i> <span>&nbsp;Settings</span></a></li>
            </ul>
        </section>
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <section class="content">
            <router-outlet (activate)="pingServer()"></router-outlet>
        </section>
    </div>
</div>

