<!--App contents, router-outlet points here-->
<div class="wrapper">

    <header class="main-header hide-in-fullscreen">

        <!-- Logo -->
        <a (click)="routeToComponent('home')" class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini"><i class="fa fa-cube"></i></span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg"><i class="fa fa-cube"></i> <b>Kube</b>SCALE</span>
        </a>

        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top p-0">
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>
            <!-- Navbar Right Menu -->
            <div class="navbar-custom-menu">
                <ul class="nav navbar p-0">
                    <!-- Messages: style can be found in dropdown.less-->

                    <!-- Notifications: style can be found in dropdown.less -->
                    <li class="dropdown notifications-menu">
                        <a href="#" class="p-3" data-toggle="dropdown">
                            <i class="fa fa-bell-o"></i>
                            <span class="badge  badge-warning">3</span>
                        </a>
                        <!--TODO: integrate different colors according to severity-->
                        <ul class="dropdown-menu dropdown-menu-right" style="white-space: normal;">
                            <li class="dropdown-header">You currently have {{notifications.length}} new notifications</li>
                            <li class="dropdown-divider"></li>
                            <li *ngFor="let notification of notifications" class="list-group-item list-group-item-warning list-group-item-action text-nowrap">
                                <i class="fa fa-area-chart"></i> {{notification.text}}
                            </li>
                            <li class="dropdown-divider"></li>
                            <li class="dropdown-item text-center">
                                <a (click)="routeToComponent('notifications')"><i class="fa fa-bell"></i> <span>View all</span></a>
                            </li>
                        </ul>
                    </li>

                </ul>
            </div>

        </nav>
    </header>
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar hide-in-fullscreen">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            <!-- Sidebar user panel -->
            <div class="user-panel">
                <div class="pull-left image">
                    <img src="assets/images/avatar-unknown.png" class="img-circle" alt="User Image">
                </div>
                <div class="pull-left info">
                    <p>Kube Admin 1</p>
                    <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                </div>
            </div>
            <!-- sidebar menu: : style can be found in sidebar.less -->
            <ul class="sidebar-menu" data-widget="tree">
                <li class="header">MAIN NAVIGATION</li>
                <li class="active treeview menu-open">
                    <a href="#"><i class="fa fa-dashboard"></i> <span>Dashboard</span><span class="pull-right-container"><i class="fa fa-angle-down pull-right"></i></span></a>
                    <ul class="treeview-menu">
                        <li *ngFor="let layout of dashboardLayouts"><a (click)="routeToDashboard(layout.id)"><i class="fa fa-circle-o"></i> {{layout.name}}</a></li>
                        <li *ngIf="!newLayoutInitiated"><a (click)="initiateNewLayout(true)"><i class="fa fa-plus"></i> New Layout</a></li>
                        <li *ngIf="newLayoutInitiated"><div class="input-group">
                            <input type="text" class="form-control" [(ngModel)]="newLayoutName" placeholder="Layout name" aria-label="Layout name" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button" (click)="createNewDashboard(newLayoutName)"><i class="fa fa-check"></i></button>
                                <button class="btn btn-outline-secondary" type="button" (click)="initiateNewLayout(false)"><i class="fa fa-remove"></i></button>
                            </div>
                        </div></li>
                    </ul>
                </li>
                <li class="active treeview menu-open">
                    <a href="#"><i class="fa fa-desktop"></i> <span>Monitoring</span><span class="pull-right-container"><i class="fa fa-angle-down pull-right"></i></span></a>
                    <ul class="treeview-menu">
                        <li><a (click)="routeToMonitoring('monitors')"><i class="fa fa-circle-o"></i> Monitors</a></li>
                        <li><a (click)="routeToMonitoring('streams')"><i class="fa fa-circle-o"></i> Streams</a></li>
                        <li><a (click)="routeToMonitoring('tasks')"><i class="fa fa-circle-o"></i> Tasks</a></li>
                    </ul>
                </li>
                <li class="active"><a (click)="routeToComponent('analytics')"><i class="fa fa-bar-chart"></i> <span>Analytics</span></a></li>
                <li class="active"><a (click)="routeToComponent('notifications')"><i class="fa fa-bell"></i> <span>Notifications</span></a></li>
                <li class="active"><a (click)="routeToComponent('settings')"><i class="fa fa-cogs"></i> <span>Settings</span></a></li>
            </ul>
        </section>
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <section class="content">
            <router-outlet (activate)="pingServer()"></router-outlet>
        </section>
    </div>
</div>

