<div class="col-12 overview-container">
    <div class="widget-frame">
        <div class="widget-heading">
            <a (click)="routeToOverview('monitors')">Monitors</a> / {{monitorID}}
        </div>
        <div class="overview-chart col-12 p-0">
            <ngx-charts-area-chart-stacked
                [view]="monitorChartState.view"
                [results]="monitorChartState.results"
                [scheme]="monitorChartState.scheme"
                [xAxisLabel]="monitorChartState.xAxisLabel"
                [yAxisLabel]="monitorChartState.yAxisLabel"
                [showXAxisLabel]="monitorChartState.showXAxisLabel"
                [showYAxisLabel]="monitorChartState.showYAxisLabel"
                [xAxis]="monitorChartState.xAxis"
                [yAxis]="monitorChartState.yAxis"
                [gradient]="monitorChartState.gradient"
                [timeline]="monitorChartState.timeline"
                [roundDomains]="monitorChartState.roundDomains"
                [tooltipDisabled]="monitorChartState.tooltipDisabled"
                (activate)="onHover($event)"
                (select)="onSelect($event)"
            ></ngx-charts-area-chart-stacked>
        </div>

        <div class="accordion" id="taskAccordion">
            <div class="card" *ngFor="let task of tasks" attr.data-task-id="{{task.ID}}">
                <div class="card-header p-0" id="tsk-header-{{task.Reference}}" style="display:flex;">
                    <h5 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" attr.data-target="#tsk-collapse-{{task.Reference}}" aria-expanded="false" aria-controls="collapseOne">
                            Task: {{task.ID}}
                        </button>
                    </h5>
                    <div style="flex:auto;">
                        <ngx-charts-line-chart
                            [view]="lineChartState.view"
                            [results]="lineChartState.results"
                            [scheme]="lineChartState.scheme"
                            [xAxisLabel]="lineChartState.xAxisLabel"
                            [yAxisLabel]="lineChartState.yAxisLabel"
                            [showXAxisLabel]="lineChartState.showXAxisLabel"
                            [showYAxisLabel]="lineChartState.showYAxisLabel"
                            [xAxis]="lineChartState.xAxis"
                            [yAxis]="lineChartState.yAxis"
                            [gradient]="lineChartState.gradient"
                            [curve]="lineChartState.curve"
                            [tooltipDisabled]="lineChartState.tooltipDisabled"
                            [legend]="lineChartState.legend"
                        ></ngx-charts-line-chart>
                    </div>
                </div>

                <div id="tsk-collapse-{{task.Reference}}" class="collapse" attr.aria-labelledby="tsk-header-{{task.Reference}}" data-parent="#taskAccordion">
                    <div class="card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
