/* You can add global styles to this file, and also import other style files */

a {
    cursor: pointer;
}
.theme-icon-close:before {
    content: 'X'
}
.ks-blur-background {
    background: rgba(255,255,255,0.7);
}
.widget-menu-btn {
    width: 100%;
    margin-top: 5px;
}

.wide-modal {
    width: 80%;
    max-width: none;
}

hr {
    background-color: black;
    border: 0 none;
    color: black;
    height: 1px;
    margin-top: 3px;
}

.my-cluster-green, .my-cluster-red, .my-cluster-yellow {
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 40px;
}

.my-cluster-green div, .my-cluster-red div, .my-cluster-yellow div{
    width: 30px;
    height: 30px;
    margin-left: 5px;
    margin-top: 5px;
    text-align: center;
    border-radius: 15px;
    line-height: 30px;
    font-size: 18px;
}

.my-marker-green, .my-marker-red, .my-marker-yellow {
    width: 20px;
    height: 20px;
    text-align: center;
    font-size: 20px;
    border-radius: 20px;
    border: 1px solid black;
    line-height: 20px;
}

.my-cluster-green{
    background-color: rgba(181, 226, 140, 0.6);
}

.my-cluster-red{
    background-color: rgba(253, 156, 115, 0.6);
}

.my-cluster-yellow{
     background-color: rgba(253, 255, 96, 0.6);
 }

.my-marker-green, .my-cluster-green div{
    background-color: rgba(110, 204, 57, 0.6);
}

.my-marker-red, .my-cluster-red div{
    background-color: rgba(241, 128, 23, 0.6);
}

.my-marker-yellow, .my-cluster-yellow div{
    background-color: rgba(255, 243, 10, 0.6);
}

:fullscreen .hide-in-fullscreen{
    display: none;
}

:fullscreen .content-wrapper{
    margin-left: 0;
}

.dashed-chart g:nth-child(2) > g > g > .line-series{
    stroke-dasharray: 5;
}

.no-data-found{
    background: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.no-data-found > div{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
    color: white;
    text-shadow: 2px 2px black;
    text-align: center;
}
.no-data-found > div > i {
    color: gold;
}

.no-data-found > div > .kubescale-loader{
    text-shadow: none;
    animation: loader-spin 1s linear infinite;
}

@keyframes loader-spin {
    0%{
        transform: rotate(0);
    }
    100%{
        transform:rotate(360deg);
    }
}
