/* You can add global styles to this file, and also import other style files */

a {
    cursor: pointer;
}
.theme-icon-close:before {
    content: 'X'
}
.widget-menu-btn {
    width: 100%;
    margin-top: 5px;
}

.wide-modal {
    width: 80%;
    max-width: none;
}

hr {
    background-color: black;
    border: 0 none;
    color: black;
    height: 1px;
    margin-top: 3px;
}

.my-cluster-green, .my-cluster-red {
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 40px;
}

.my-cluster-green div, .my-cluster-red div{
    width: 30px;
    height: 30px;
    margin-left: 5px;
    margin-top: 5px;
    text-align: center;
    border-radius: 15px;
    line-height: 30px;
    font-size: 18px;
}

.my-marker-green, .my-marker-red {
    width: 20px;
    height: 20px;
    text-align: center;
    font-size: 20px;
    border-radius: 20px;
    border: 1px solid black;
    line-height: 20px;
}

.my-cluster-green{
    background-color: rgba(181, 226, 140, 0.6);
}

.my-cluster-red{
    background-color: rgba(253, 156, 115, 0.6);
}

.my-marker-green, .my-cluster-green div{
    background-color: rgba(110, 204, 57, 0.6);
}

.my-marker-red, .my-cluster-red div{
    background-color: rgba(241, 128, 23, 0.6);

}

:fullscreen .hide-in-fullscreen{
    display: none;
}

:fullscreen .content-wrapper{
    margin-left: 0;
}

