<div class="alert alert-warning" role="alert">
    <h2><span class="fa fa-warning"></span> Server Error</h2>
    <hr style="background-color: white">
    <p>There seems to be a problem with the server connection!</p>
    <p>Possible reasons for that are:</p>
    <ul>
        <li>Druid API server at 130.240.200.77:3000 is down.</li>
        <li>CORS calls are blocked by the browser. Install following <a href="https://chrome.google.com/webstore/detail/moesif-origin-cors-change/digfbfaphojjndkpccljibejjbppifbc">plugin</a> and access portal from Google Chrome.</li>
    </ul>
    <p>Application will retry the connection once every 5 seconds and redirect to home, when server is back up.</p>
</div>
