<div class="alert alert-warning" role="alert">
    <h2><span class="fa fa-warning"></span> Server Error</h2>
    <hr style="background-color: white">
    <p>There seems to be a problem with the server connection!</p>
    <p>If not done already, consider following the following steps:</p>
    <ul>
        <li>Download XAMPP from <a href="https://www.apachefriends.org/download.html">https://www.apachefriends.org/download.html</a> (with PHP).</li>
        <li>Start up the Apache server from the XAMPP Control Panel.</li>
        <li>Clone the dummy back-end repository <em><strong>git clone https://github.com/maxkha-3/kubescale-backend-dummy.git</strong></em> into the "C:/xampp/htdocs" directory.</li>
        <li>Refresh the application and connection should be established.</li>
    </ul>
    <p>Application will retry the connection once every 5 seconds and redirect to home, when server is back up.</p>
</div>
